{% extends "base.html" %}
{% block content %}
<h2 class="mb-4">Mentor Dashboard</h2>
<div class="row">
  <div class="col-md-6">
    <div class="card shadow p-4 text-center">
      <h4>📤 Upload Content</h4>
      <a class="btn btn-success mt-2" href="{% url 'mentor_uploads' %}">Upload</a>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card shadow p-4 text-center">
      <h4>💬 Student Messages</h4>
      <a class="btn btn-warning mt-2" href="{% url 'mentor_messages' %}">View Messages</a>
    </div>
  </div>
</div>
{% endblock %}
